<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
{% block content %}
<h2>👑 Admin Dashboard</h2>
<p>Welcome, {{ current_user.username }}!</p>
<a href="{{ url_for('manage_users') }}" class="btn btn-primary">See all users</a>
<a href="{{ url_for('movies') }}" class="btn btn-primary">View Movies</a>
<a href="{{ url_for('add_movie') }}" class="btn btn-primary">Add movie</a>
<a href="{{ url_for('login') }}" class="btn btn-primary">Log Out</a>
{% endblock %}

</body>
</html>